@model eRPBusiness.Transport.PeriodoDTO
@using eRPBusiness.Helpers

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                <div class="col-lg-12">
                    <div class="form-group">
                         @Html.CRM().NumericTextBoxFor(m => m.PeriodoEjucion, "col-lg-4", "Periodo", "col-lg-2").TextNumericType(NumericType.Integer)
                    </div>
                    <div class="form-group">
                        @Html.CRM().TextBoxFor(m => m.Nombre, "col-lg-10", "Nombre", "col-lg-2").Attributes(new { @maxlength = "250",@placeholder="Nombre" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.PeriodoId)
            </div>
        </div>
    </div>
</div>
