@model eRPBusiness.Transport.UnidadMedidaDTO
@using eRPBusiness.Helpers
@{
    ViewBag.Title = "Categoria";
}

<div class="panel panel-default">
    <div class="panel-body form-horizontal" id="panel">
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Codigo, "col-lg-4", "Codigo", "col-lg-2").Attributes(new { @placeholder = "Codigo" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Nombre, "col-lg-10", "Nombre", "col-lg-2").Attributes(new { @placeholder = "Nombre" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Abreaviatura, "col-lg-10", "Abreaviatura", "col-lg-2").Attributes(new { @placeholder = "Abreaviatura" })
        </div>
        @Html.HiddenFor(m => m.UnidadMedidaId)
    </div>
</div>
